.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 3rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.75rem;
  height: 100%;
  transition: all var(--transition-normal);
}

.project-card:hover {
  transform: translateY(-7px);
  box-shadow: var(--glass-shadow);
}

.project-card:hover .project-title a {
  color: var(--color-primary);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-links a {
  color: var(--color-text-muted);
}

.project-links a:hover {
  color: var(--color-primary);
}

.project-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.project-description {
  color: var(--color-text-muted);
  font-size: 1rem;
  flex-grow: 1;
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
}

.project-tech-list li {
  font-family: monospace;
  font-size: 0.8rem;
  color: var(--color-text-muted);
}
